<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
     
     <!-- Beans used to connect to database and to use data from all Java bean classes -->
     <bean id="userDao" class="com.foobar.gittalking.UserDAOImpl">
     	<property name="dataSource" ref="dataSource" />
     </bean>
     
     <bean id="timelineDao" class="com.foobar.gittalking.TimelineDAOImpl">
     	<property name="dataSource" ref="dataSource" />
     </bean>
     
     <bean id="messageDao" class="com.foobar.gittalking.MessageDAOImpl">
     	<property name="dataSource" ref="dataSource" />
     </bean>
     
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver" />
        <property name="url" value="jdbc:mysql://localhost:3306/gittalking" />
        <property name="username" value="root" />
        <property name="password" value="121124890" />

    </bean>
 
</beans>